body{
  font-family: Arial;
  background:#111;
  color:white;
  display:flex;
  justify-content:center;
}
.container{
  margin-top:80px;
  padding:30px;
  background:#222;
  border-radius:10px;
}
input{
  width:100%;
  padding:10px;
  margin:10px 0;
  border-radius:6px;
  border:none;
}
button{
  padding:10px 20px;
  border:none;
  background:#00c8ff;
  color:white;
  border-radius:6px;
}
a{
  color:#00c8ff;
}
